<div class="accessContainer">
  <div class="subTitle" id="accessTitle">
    승인 대기
  </div>
  <div class="statusTable">
    <table class="statusView">
      <tr class="statusTableOutline">
        <th class="blank"></th><td class="statusBlock">가입 상태</td>
        <td class="catNameBlock">고양이</td>         
        <td class="">뭉치맘</td>
        <td>
          <select name="userStatus" id="userStatus">
            <option value="member">일반</option>
            <option value="admin">관리자</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="memberContainer">
  <div class="subTitle" id="accessTitle">
    일반 회원 리스트
  </div>
  <div class="userTable">
    <table class="memberView">
      <tr>
        <th></th><td>일반</td>
        <td>이메일</td>
        <td>이름</td>
        <td>전화번호</td>
        <td>뭉치맘</td>
        <td class="joinDate">
          가입 날짜
          <button>삭제</button>
        </td>
      </tr>
    </table>
  </div>
</div>
