<script defer type="text/javascript" src="/js/admin/admin.js"></script>

<div class="accessContainer">
  <div class="subTitle" id="accessTitle">
    가입 대기
  </div>
  <div class="accessContent"></div>
  <div>
    <nav class="pagination" id="accessPagination" aria-label="Page navigation">
      <ul></ul>
    </nav>
  </div>

</div>

<div class="memberContainer">
  <div class="subTitle" id="accessTitle">
    일반 회원 리스트
  </div>
  <div class="memberContent"></div>
  <div>
    <nav class="pagination" id="memberPagination" aria-label="Page navigation">
      <ul></ul>
    </nav>
  </div>
  
</div>
