<div id="footer">
  <div class="footerContainer">
    <div class="footer">
        <ul class="footerList">
          <li><a href="#"></a>개인정보 처리방침</li>
          <li><a href="#"></a>이용약관</li>
          <li><a href="#"></a>이메일</li>
        </ul>
    </div>
  </div>
</div>