<body>
    <section class="login">
			<div class="loginLogo">
				<img src="/img/로그인 logo.png" alt="">
			</div>
        <div class="loginCard">
          <form>
						<div class="loginInputContainer">
							<input type="text" id="loginEmail" placeholder="이메일을 입력해 주세요." onkeyup="if(window.event.keyCode==13){login()}" />
							<input type="password" id="loginPassword" placeholder="비밀번호를 입력해 주세요." onkeyup="if(window.event.keyCode==13){login()}" />
						</div>
						<div class="loginBtnContainer">
							<button onclick="login()" class="btn btn-outline-primary" type="button">로그인</button>
							<button onclick="location.href='/signUp'" class="btn btn-outline-secondary" type="button">회원가입</button>
						</div>
          </form>
        </div>
    </section>
</body>

<script>
	function login() {
		const loginEmail = $('#loginEmail').val();
		const loginPassword = $('#loginPassword').val();
		if (!loginEmail) {
		alert('이메일을 입력해주세요.');
		} else if (!loginPassword) {
		alert('비밀번호를 입력해주세요.');
		} else {
		$.ajax({
			type: 'POST',
			url: '/auth/login',
			data: {
				email: loginEmail,
				password: loginPassword,
			},
			success: function (response) {
				alert('로그인이 완료되었습니다.');
				window.location.href = '/';
			},
			error: function (err) {
				alert(err.responseJSON.message);
			},
		});
		}
	}
</script>

<style>

	.loginLogo {
		margin-top: 100px;
		margin-left: 750px;
	}
	.loginCard {
		margin-top: 30px;
		display: flex;
		text-align: center;
		margin-left: 650px;
	}



	.loginBtnContainer {
		margin-top: 30px;
		display: flex;
		justify-content: space-evenly;
	}
</style>