  <div class="wholeContent">

    <div class="bodyContent1">
      품앗이
    </div>

    <div class="bodyContent2">
      무인냥품
    </div>

    <div class="bodyContent3">
      자유게시판
    </div> 

  </div>

