  <div class="wholeContent">

    <div class="bodyContent1">
      <div class="contentTitle1">
        품앗이 신청
      </div>
      
      <div class="contentSub1">
        <div class="locationContainer" id="section1">
          <div class="location">
            현재 위치:
          </div>
          <div class="locationDetail">
            고양시
          </div>
          <p class="page">
            <span class="page1" id="prev">
              ←
            </span>
            <span class="page1">
              |
            </span>
            <span class="page1" id="next">
              →
            </span>
          </p>
        </div>
        
      </div>
      <div class="slideWarpper1">
        <ul class="slides1">
          <li class="catCard">
            <div class="imgContainer">
              <img src="" alt="">
              <div class="status">
                <p>모집현황</p>
              </div>
            </div>
            <div class="periodContainer">
              <div class="catInfo" id="period">
                기간
              </div>
              <div class="periodDetail">
                0000년00월00일 ~ 0000년00월00일
              </div>
            </div>
            <div class="infoContainer">
              <div class="nameContainer">
                <div class="catInfo" id="name">
                  이름
                </div>
                <div class="catName">
                  치봉이
                </div>
              </div>
              <div class="ageContainer">
                <div  class="catInfo" id="age">
                  나이
                </div>
                <div  class="catAge">
                  8
                </div>
              </div>
            </div>
            <div class="characterContainer">
              <div class="catInfo" id="character">
                성격
              </div>
              <div class="catCharacter">
                사람을 좋아하고 장난을 좋아합니다. 궁디팡팡과 간식을 좋아해요.
              </div>
            </div>
            <div class="more">
              <button class="moreBtn" onclick="">> 자세히 보기</button>
            </div>
          </li>
          <li class="catCard">
            <div class="imgContainer">
              <img src="" alt="">
              <div class="status">
                <p>모집현황</p>
              </div>
            </div>
            <div class="periodContainer">
              <div class="catInfo" id="period">
                기간
              </div>
              <div class="periodDetail">
                0000년00월00일 ~ 0000년00월00일
              </div>
            </div>
            <div class="infoContainer">
              <div class="nameContainer">
                <div class="catInfo" id="name">
                  이름
                </div>
                <div class="catName">
                  치봉이
                </div>
              </div>
              <div class="ageContainer">
                <div  class="catInfo" id="age">
                  나이
                </div>
                <div  class="catAge">
                  8
                </div>
              </div>
            </div>
            <div class="characterContainer">
              <div class="catInfo" id="character">
                성격
              </div>
              <div class="catCharacter">
                사람을 좋아하고 장난을 좋아합니다. 궁디팡팡과 간식을 좋아해요.
              </div>
            </div>
            <div class="more">
              <button class="moreBtn" onclick="">> 자세히 보기</button>
            </div>
          </li>
          <li class="catCard">
            <div class="imgContainer">
              <img src="" alt="">
              <div class="status">
                <p>모집현황</p>
              </div>
            </div>
            <div class="periodContainer">
              <div class="catInfo" id="period">
                기간
              </div>
              <div class="periodDetail">
                0000년00월00일 ~ 0000년00월00일
              </div>
            </div>
            <div class="infoContainer">
              <div class="nameContainer">
                <div class="catInfo" id="name">
                  이름
                </div>
                <div class="catName">
                  치봉이
                </div>
              </div>
              <div class="ageContainer">
                <div  class="catInfo" id="age">
                  나이
                </div>
                <div  class="catAge">
                  8
                </div>
              </div>
            </div>
            <div class="characterContainer">
              <div class="catInfo" id="character">
                성격
              </div>
              <div class="catCharacter">
                사람을 좋아하고 장난을 좋아합니다. 궁디팡팡과 간식을 좋아해요.
              </div>
            </div>
            <div class="more">
              <button class="moreBtn" onclick="">> 자세히 보기</button>
            </div>
          </li>
          <li class="catCard">
            <div class="imgContainer">
              <img src="" alt="">
              <div class="status">
                <p>모집현황</p>
              </div>
            </div>
            <div class="periodContainer">
              <div class="catInfo" id="period">
                기간
              </div>
              <div class="periodDetail">
                0000년00월00일 ~ 0000년00월00일
              </div>
            </div>
            <div class="infoContainer">
              <div class="nameContainer">
                <div class="catInfo" id="name">
                  이름
                </div>
                <div class="catName">
                  치봉이
                </div>
              </div>
              <div class="ageContainer">
                <div  class="catInfo" id="age">
                  나이
                </div>
                <div  class="catAge">
                  8
                </div>
              </div>
            </div>
            <div class="characterContainer">
              <div class="catInfo" id="character">
                성격
              </div>
              <div class="catCharacter">
                사람을 좋아하고 장난을 좋아합니다. 궁디팡팡과 간식을 좋아해요.
              </div>
            </div>
            <div class="more">
              <button class="moreBtn" onclick="">> 자세히 보기</button>
            </div>
          </li>
          <li class="catCard">
            <div class="imgContainer">
              <img src="" alt="">
              <div class="status">
                <p>모집현황</p>
              </div>
            </div>
            <div class="periodContainer">
              <div class="catInfo" id="period">
                기간
              </div>
              <div class="periodDetail">
                0000년00월00일 ~ 0000년00월00일
              </div>
            </div>
            <div class="infoContainer">
              <div class="nameContainer">
                <div class="catInfo" id="name">
                  이름
                </div>
                <div class="catName">
                  치봉이
                </div>
              </div>
              <div class="ageContainer">
                <div  class="catInfo" id="age">
                  나이
                </div>
                <div  class="catAge">
                  8
                </div>
              </div>
            </div>
            <div class="characterContainer">
              <div class="catInfo" id="character">
                성격
              </div>
              <div class="catCharacter">
                사람을 좋아하고 장난을 좋아합니다. 궁디팡팡과 간식을 좋아해요.
              </div>
            </div>
            <div class="more">
              <button class="moreBtn" onclick="">> 자세히 보기</button>
            </div>
          </li>
          <li class="catCard">
            <div class="imgContainer">
              <img src="" alt="">
              <div class="status">
                <p>모집현황</p>
              </div>
            </div>
            <div class="periodContainer">
              <div class="catInfo" id="period">
                기간
              </div>
              <div class="periodDetail">
                0000년00월00일 ~ 0000년00월00일
              </div>
            </div>
            <div class="infoContainer">
              <div class="nameContainer">
                <div class="catInfo" id="name">
                  이름
                </div>
                <div class="catName">
                  치봉이
                </div>
              </div>
              <div class="ageContainer">
                <div  class="catInfo" id="age">
                  나이
                </div>
                <div  class="catAge">
                  8
                </div>
              </div>
            </div>
            <div class="characterContainer">
              <div class="catInfo" id="character">
                성격
              </div>
              <div class="catCharacter">
                사람을 좋아하고 장난을 좋아합니다. 궁디팡팡과 간식을 좋아해요.
              </div>
            </div>
            <div class="more">
              <button class="moreBtn" onclick="">> 자세히 보기</button>
            </div>
          </li>
        </ul>
      </div>

    </div>

      <div class="bodyContent2">
        <div class="contentTitle2">
          냥품 나눔
        </div>
        
        <div class="contentSub2">
          <div class="locationContainer" id="section2">
            <div class="location">
              현재 위치:
            </div>
            <div class="locationDetail">
              고양시
            </div>
            <p class="page">
              <span class="page1" id="prev2">
                ←
              </span>
              <span class="page1">
                |
              </span>
              <span class="page1" id="next2">
                →
              </span>
            </p>
          </div>
        </div>

        <div class="slideWarpper2">
          <ul class="slides2">
            <li class="cardContiner">
              <div class="imgContainer2">
                <img src="" alt="">
                <div class="status2">
                  <p>나눔현황</p>
                </div>
              </div>
              <div class="shareCard">
                <div class="detailContainer">
                  <div class="shareContainer">
                    <div class="shareInfo" id="locationInfo">
                      고양동
                    </div>
                    <div  class="shareInfo" id="item">
                      사료
                    </div>
                  </div>
                </div>
                <div class="postContainer">
                  <div class="shareTitle">
                    길냥이 사료 나눔합니다.
                  </div>
                  <div class="shareContent">
                    길냥이 돌보시는 분들께 사료 나눔드립니다. 기호성 좋고 유통기한 임박했어요! 쪽지 주세요!
                  </div>
                </div>
            </li>
            <li class="cardContiner">
              <div class="imgContainer2">
                <img src="" alt="">
                <div class="status2">
                  <p>나눔현황</p>
                </div>
              </div>
              <div class="shareCard">
                <div class="detailContainer">
                  <div class="shareContainer">
                    <div class="shareInfo" id="locationInfo">
                      고양동
                    </div>
                    <div  class="shareInfo" id="item">
                      사료
                    </div>
                  </div>
                </div>
                <div class="postContainer">
                  <div class="shareTitle">
                    길냥이 사료 나눔합니다.
                  </div>
                  <div class="shareContent">
                    길냥이 돌보시는 분들께 사료 나눔드립니다. 기호성 좋고 유통기한 임박했어요! 쪽지 주세요!
                  </div>
                </div>
            </li>
            <li class="cardContiner">
              <div class="imgContainer2">
                <img src="" alt="">
                <div class="status2">
                  <p>나눔현황</p>
                </div>
              </div>
              <div class="shareCard">
                <div class="detailContainer">
                  <div class="shareContainer">
                    <div class="shareInfo" id="locationInfo">
                      고양동
                    </div>
                    <div  class="shareInfo" id="item">
                      사료
                    </div>
                  </div>
                </div>
                <div class="postContainer">
                  <div class="shareTitle">
                    길냥이 사료 나눔합니다.
                  </div>
                  <div class="shareContent">
                    길냥이 돌보시는 분들께 사료 나눔드립니다. 기호성 좋고 유통기한 임박했어요! 쪽지 주세요!
                  </div>
                </div>
            </li>
            <li class="cardContiner">
              <div class="imgContainer2">
                <img src="" alt="">
                <div class="status2">
                  <p>나눔현황</p>
                </div>
              </div>
              <div class="shareCard">
                <div class="detailContainer">
                  <div class="shareContainer">
                    <div class="shareInfo" id="locationInfo">
                      고양동
                    </div>
                    <div  class="shareInfo" id="item">
                      사료
                    </div>
                  </div>
                </div>
                <div class="postContainer">
                  <div class="shareTitle">
                    길냥이 사료 나눔합니다.
                  </div>
                  <div class="shareContent">
                    길냥이 돌보시는 분들께 사료 나눔드립니다. 기호성 좋고 유통기한 임박했어요! 쪽지 주세요!
                  </div>
                </div>
            </li>
            <li class="cardContiner">
              <div class="imgContainer2">
                <img src="" alt="">
                <div class="status2">
                  <p>나눔현황</p>
                </div>
              </div>
              <div class="shareCard">
                <div class="detailContainer">
                  <div class="shareContainer">
                    <div class="shareInfo" id="locationInfo">
                      고양동
                    </div>
                    <div  class="shareInfo" id="item">
                      사료
                    </div>
                  </div>
                </div>
                <div class="postContainer">
                  <div class="shareTitle">
                    길냥이 사료 나눔합니다.
                  </div>
                  <div class="shareContent">
                    길냥이 돌보시는 분들께 사료 나눔드립니다. 기호성 좋고 유통기한 임박했어요! 쪽지 주세요!
                  </div>
                </div>
            </li>
            <li class="cardContiner">
              <div class="imgContainer2">
                <img src="" alt="">
                <div class="status2">
                  <p>나눔현황</p>
                </div>
              </div>
              <div class="shareCard">
                <div class="detailContainer">
                  <div class="shareContainer">
                    <div class="shareInfo" id="locationInfo">
                      고양동
                    </div>
                    <div  class="shareInfo" id="item">
                      사료
                    </div>
                  </div>
                </div>
                <div class="postContainer">
                  <div class="shareTitle">
                    길냥이 사료 나눔합니다.
                  </div>
                  <div class="shareContent">
                    길냥이 돌보시는 분들께 사료 나눔드립니다. 기호성 좋고 유통기한 임박했어요! 쪽지 주세요!
                  </div>
                </div>
            </li>
            <li class="cardContiner">
              <div class="imgContainer2">
                <img src="" alt="">
                <div class="status2">
                  <p>나눔현황</p>
                </div>
              </div>
              <div class="shareCard">
                <div class="detailContainer">
                  <div class="shareContainer">
                    <div class="shareInfo" id="locationInfo">
                      고양동
                    </div>
                    <div  class="shareInfo" id="item">
                      사료
                    </div>
                  </div>
                </div>
                <div class="postContainer">
                  <div class="shareTitle">
                    길냥이 사료 나눔합니다.
                  </div>
                  <div class="shareContent">
                    길냥이 돌보시는 분들께 사료 나눔드립니다. 기호성 좋고 유통기한 임박했어요! 쪽지 주세요!
                  </div>
                </div>
            </li>
            <li class="cardContiner">
              <div class="imgContainer2">
                <img src="" alt="">
                <div class="status2">
                  <p>나눔현황</p>
                </div>
              </div>
              <div class="shareCard">
                <div class="detailContainer">
                  <div class="shareContainer">
                    <div class="shareInfo" id="locationInfo">
                      고양동
                    </div>
                    <div  class="shareInfo" id="item">
                      사료
                    </div>
                  </div>
                </div>
                <div class="postContainer">
                  <div class="shareTitle">
                    길냥이 사료 나눔합니다.
                  </div>
                  <div class="shareContent">
                    길냥이 돌보시는 분들께 사료 나눔드립니다. 기호성 좋고 유통기한 임박했어요! 쪽지 주세요!
                  </div>
                </div>
            </li>
            <li class="cardContiner">
              <div class="imgContainer2">
                <img src="" alt="">
                <div class="status2">
                  <p>나눔현황</p>
                </div>
              </div>
              <div class="shareCard">
                <div class="detailContainer">
                  <div class="shareContainer">
                    <div class="shareInfo" id="locationInfo">
                      고양동
                    </div>
                    <div  class="shareInfo" id="item">
                      사료
                    </div>
                  </div>
                </div>
                <div class="postContainer">
                  <div class="shareTitle">
                    길냥이 사료 나눔합니다.
                  </div>
                  <div class="shareContent">
                    길냥이 돌보시는 분들께 사료 나눔드립니다. 기호성 좋고 유통기한 임박했어요! 쪽지 주세요!
                  </div>
                </div>
            </li>              
          </ul>
        </div>

        <div class="shareMore">
          <button class="showMoreBtn" id="shareBtn" onclick="">more</button>
        </div>
      </div>
    <div class="bodyContent3">
      <div class="contentTitle2" id="boardTitle">
        자유 게시판
      </div>
      <div class="shareMore">
        <button class="showMoreBtn" id="boardBtn" onclick="">more</button>
      </div>

      <div class="boardTable">
        <table class="boardView" id="table1">
          <tr>
            <th></th><td class="shortContent">동물 병원 후기</td>
            <td class="longContent">염창 고양이 사랑 병원 후기입니다.</td>         
            <td class="shortContent">뭉치맘</td>
            <td class="date">0000.00.00</td>
          </tr>
        </table>
        <table class="boardView" id="table2">
          <tr>
            <th></th><td class="shortContent">집사 사담</td>
            <td class="longContent">고양이 오버 그루밍 질문이요!</td>         
            <td class="shortContent">고양이만세</td>
            <td class="date">0000.00.00</td>
          </tr>
        </table>
        <table class="boardView" id="table3">
          <tr>
            <th></th><td class="shortContent">동물 병원 후기</td>
            <td class="longContent">염창 고양이 사랑 병원 후기입니다.</td>         
            <td class="shortContent">뭉치맘</td>
            <td class="date">0000.00.00</td>
          </tr>
        </table>
        <table class="boardView" id="table4">
          <tr>
            <th></th><td class="shortContent">집사 사담</td>
            <td class="longContent">고양이 오버 그루밍 질문이요!</td>         
            <td class="shortContent">고양이만세</td>
            <td class="date">0000.00.00</td>
          </tr>
        </table>
        <table class="boardView" id="table5">
          <tr>
            <th></th><td class="shortContent">동물 병원 후기</td>
            <td class="longContent">염창 고양이 사랑 병원 후기입니다.</td>         
            <td class="shortContent">뭉치맘</td>
            <td class="date">0000.00.00</td>
          </tr>
        </table>
        <table class="boardView" id="table6">
          <tr>
            <th></th><td class="shortContent">집사 사담</td>
            <td class="longContent">고양이 오버 그루밍 질문이요!</td>         
            <td class="shortContent">고양이만세</td>
            <td class="date">0000.00.00</td>
          </tr>
        </table>
      </div>
      
        
    </div> 

  </div>

