<header>
  <nav class="navbar">

    <div class="navbarLogo">
      <div logo></div>
      <a href="/"><img src="img/headerlogo.png" alt="" ></a> 

  
    </div>
        <%if (!userId) {%>
          <ul class="navbarMenu">
            <li><a href="/">품앗이 신청</a></li>
            <li><a href="/">냥품나눔</a></li>
            <li><a href="/">자유게시판</a></li>
          </ul>
  
          <div class="navbarButton">
            
            <button id="loginBtn" onclick="location.href='/login'">로그인</button>
            <button id="signupBtn" onclick="location.href='/signUp'">회원가입</button>
          </div>
        <%} else{%>
          <ul class="navbarMenu">
            <li><a href="/">품앗이 신청</a></li>
            <li><a href="/">냥품나눔</a></li>
            <li><a href="/">자유게시판</a></li>
          </ul>
  
          <div class="navbarButton">
            <button id="messageBtn" onclick="location.href='/message/received'">쪽지함</button>
            <button id="mypageBtn" onclick="location.href='user/myPage'">마이 페이지</button>
            <button id="logoutBtn" onclick="logout()">로그아웃</button>
          </div>
        <%}%>
  </nav>
  
</header>

<script>
  function logout() {
      $.ajax({
          type: 'POST',
          url: '/auth/logout',
          success: function (response) {
              alert(response.message);
              window.location.href = '/';
          },
          error: function (response) {
              alert(response.responseJSON.message);
              window.location.reload();
          },
      });
  }
</script>