  <div class="wholeContent">

    <div class="bodyContent1">
      <div class="contentTitle1">
        품앗이 신청
      </div>
      
      <div class="contentSub1">
        <div class="location1">
          현재 위치:
        </div>
        <div class="page1">
          화살표
        </div>
      </div>

      <div class="contentCard1">
        <div class="catCard">
          <div class="imgContainer">
            <div class="status">
              모집현황
            </div>
          </div>
          <div class="period">
            기간
          </div>
          <div class="infoContainer">
            <div class="name">
              이름
            </div>
            <div class="age">
              나이
            </div>
          </div>
          <div class="character">
            성격
          </div>
        </div>
      </div>
    </div>

    <div class="bodyContent2">
      무인냥품
    </div>

    <div class="bodyContent3">
      자유게시판
    </div> 

  </div>

