  <div class="wholeContent">

    <div class="bodyContent1">
      <a href="/request/list">품앗이</a>
      user Id = <%= userId%>입니다
    </div>

    <div class="bodyContent2">
      무인냥품
    </div>

    <div class="bodyContent3">
      자유게시판
    </div> 

  </div>

