<div id="user-table">
  <table class="table table-hover align-middle text-center">
    <thead class="table-dark">
      <a href="/messages/received">받은편지함</a> 보낸편지함
    </thead>
    <tbody>
      <% sentMessages.forEach(message => { %>
      <tr>
        <td><%= message.content %></td>
        <td><%= message.send_user.nickname %></td>
        <td><%= message.created_at %></td>
      </tr>
      <% }) %>
    </tbody>

  </table>
</div>