<!-- 품앗이 요청 작성 페이지입니다!
페이지 Body부분에 보여지는 코드입니다. <Body></Body> 생략하시고 시작해주세요! -->

<div class="justify-content-center" style="width: 80%; max-width: 560px;">
    
  <div class="input-group mb-3">
	<span class="input-group-text">기간 선택</span>
	<input type="date" class="form-control" placeholder="Username" aria-label="Username">
	<span class="input-group-text"> ~ </span>
	<input type="date" class="form-control" placeholder="Server" aria-label="Server">
  </div>
  
  <div class="col-md-2">
	<span class="input-group-text"> 상세 요청 </span>
  </div>
  <div class="form-floating">
	<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 250px"></textarea>
	<label for="floatingTextarea2">Comments</label>
  </div>
  <!-- <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div> -->
<div class="row row-md-9">
  <div class="col-md-3">
	<span class="input-group-text"> 기간 선택 </span>
  </div>
  <div class="col-md-4">
	<input type="date" class="form-control" placeholder="부터"></textarea>
  </div>
  <div class="col-md-1">
	-
	</div>
  <div class="col-md-4">
	<input type="date" class="form-control" placeholder="까지"></textarea>
  </div>
</div>

  <div class="input-group">
	<span class="input-group-text">상세 요청 사항</span>
	<textarea class="form-control" aria-label="With textarea" style="height:300px"></textarea>
  </div>

</div>  