
<section style="width: 80%; max-width: 670px; margin: 30px auto;">
	<div class="d-flex justify-content-center">
		<h1 class="text-center">품앗이 지원</h1>
	</div>

  <div class="input-group mb-3">
	<span class="input-group-text">기간 선택</span>
	<input type="date" id="start-date" class="form-control" placeholder="Username" aria-label="Username">
	<span class="input-group-text"> ~ </span>
	<input type="date" id="end-date" class="form-control" placeholder="Server" aria-label="Server">
  </div>
  
  <div class="col-md-2">
	<span class="input-group-text"> 상세 요청 </span>
  </div>
  <div class="form-floating">
	<textarea id="detail" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 250px"></textarea>
	<label for="floatingTextarea2">요청시 특이 사항과 상세 설명을 작성해주세요(500자 이내)</label>
  </div>

  <div class="d-flex">
	<button onclick="createRequest()" type="button" class="btn btn-outline-dark">제출</button>
	<button onclick="location.href='/request/list'" type="button" class="btn btn-outline-secondary">취소</button>
  </div>

</section>

<script>
	async function createRequest() {
		const startDate = $('#start-date').val()
		const endDate = $('#end-date').val()
		const detail = $('#detail').val()

		if (!startDate) {
			alert('시작 날짜를 입력해주세요')
			return;
		}
		if (!endDate) {
			alert('끝 날짜를 입력해주세요')
			return;
		}
		if (startDate > endDate) {
			alert('끝 날짜는 시작 날짜보다 이를 수 없습니다')
			return;
		}
		if (!detail) {
			alert('상세 요청 사항을 입력해주세요')
			return;
		}

		$.ajax({
			type: 'POST',
			url: '/requests',
			data: {
				reserved_begin_date: startDate,
				reserved_end_date: endDate,
				detail,
			},
			success: function (response) {
				alert('게시글 작성을 완료하였습니다')
				location.href = '/request/list';
			},
			error: function (response) {
				console.log(response);
				console.log(response.responseJSON.message);
			}
		})
	}
</script>