<!-- 품앗이 게시판 페이지 입니다!
페이지 Body부분에 보여지는 코드입니다. <Body></Body> 생략하시고 시작해주세요! -->

<section style="width: 90%; margin: 30px auto; justify-content: center;">
    <div>
		<div class="d-flex justify-content-center">
			<h1 class="text-center">품앗이 구해요</h1>
		</div>
		<br/>
		<div id="request-cards-container" >
			<!-- <div class="col">
			  <div class="card h-100"  style="border-radius: 20px">
				<img src="/img/cat11_Domestic_shorthair.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">기간: 2023-03-19</h5>
				  <h5 class="card-title">이름: 고래</h5>
				  <h5 class="card-title">지역: 역삼동</h5>
				</div>
				<div class="card-footer">
				  <small class="text-muted">Last updated 3 mins ago</small>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="card h-100">
				<img src="\img\cat1_348x348.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				</div>
				<div class="card-footer">
				  <small class="text-muted">Last updated 3 mins ago</small>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="card h-100">
				<img src="\img\cat6.webp" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				</div>
				<div class="card-footer">
				  <small class="text-muted">Last updated 3 mins ago</small>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="card h-100">
				<img src="\img\cat3_348x348.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				</div>
				<div class="card-footer">
				  <small class="text-muted">Last updated 3 mins ago</small>
				</div>
			  </div>
			</div>
			<div class="col">
			  <div class="card h-100">
				<img src="\img\cat2_348x348.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				</div>
				<div class="card-footer">
				  <small class="text-muted">Last updated 3 mins ago</small>
				</div>
			  </div>
			</div> -->
		</div>
	</div>
</section>

<script>

	$(document).ready(function () {
		viewRequestCards();
	})

	async function viewRequestCards() {
		$.ajax({
			type: 'GET',
			url: '/requests',
			success: function (response) {
				let tempHtml
				for (let i = 0; i < 3; i++) {
					console.log(response);
					console.log(`Treating ${i}th request card...`)

					const request = response[i];
					console.log(request.updated_at, new Date(request.updated_at))
					const minutesAgo = (Date.now() - new Date(request.updated_at)) / 1000 / 60
					let updated = ''
					if (minutesAgo < 60) {
						updated += parseInt(minutesAgo) + '분'
					} else if (minutesAgo / 60 <= 48) {
						updated += parseInt(minutesAgo / 60) + '시간'
					} else {
						updated += minutesAgo / 60 / 24 + '일'
					}
					

					tempHtml += `<div class="col">
						<div class="card h-100" style="border-radius: 20px">
							<img src=${request.user.cats[0].image} class="card-img-top" alt="...">
							<div class="card-body">
							<h5 class="card-title">기간: ${request.reserved_time}</h5>
							<div class="d-flex justify-content-between">
								<h5 class="card-title">이름: ${request.user.nickname}</h5>
								<button class="btn btn-outline-secondary" type="button">쪽지하기</button>
							</div>
							<h5 class="card-title">지역: ${request.request_id}</h5>
							</div>
							<div class="card-footer">
							<small class="text-muted">${updated} 전 업데이트</small>
							</div>
						</div>
						</div>`
				$('#request-cards-container').append(tempHtml);
				console.log(response);
				}
			},
			error: function (response) {
				console.log(response.responseJSON.message);
			}
		})
	}
</script>
<style>
	#request-cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-gap: 1.5rem;
		justify-content: center;
		align-items: center;
		}
</style>
