<!-- 나눔 게시글 작성 페이지입니다!
페이지 Body부분에 보여지는 코드입니다. <Body></Body> 생략하시고 시작해주세요! -->
<form id="productForm" enctype="multipart/form-data">
  <input type="text" name="title" placeholder="Product title" required />
  <input
    type="text"
    name="description"
    placeholder="Product description"
    required
  />
  <select id="categorySelect" name="categorySelect" required>
    <option value="">Choose a category</option>
  </select>
  <input type="text" name="city" placeholder="City" required />
  <input type="text" name="cityDetail" placeholder="City Detail" required />
  <input type="file" name="image" required />
  <button type="submit">Submit</button>
</form>
