<!-- 회원가입 페이지입니다!
페이지 Body부분에 보여지는 코드입니다. <Body></Body> 생략하시고 시작해주세요! -->
<!-- styles -->
<link rel="stylesheet" href="/css/signUp/signUp.css">


<div class="section text-center">
    <h4 class="mb-4 pb-3">Sign Up</h4>
    <div class="form-group">
        <input type="text" name="lognickname" class="form-style" placeholder="Your Full Nickname" id="lognickname" autocomplete="off">
        <i class="input-icon uil uil-user"></i>
    </div>	
    <div class="form-group">
        <input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
        <i class="input-icon uil uil-user"></i>
    </div>	
    <div class="form-group mt-2">
        <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
        <i class="input-icon uil uil-at"></i>
    </div>	
    <div class="form-group mt-2">
        <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
        <i class="input-icon uil uil-lock-alt"></i>
    </div>
    <div class="form-group mt-2">
        <input type="text" name="logaddress" class="form-style" placeholder="Your Address" id="logaddress" autocomplete="off">
        <i class="input-icon uil uil-lock-alt"></i>
    </div>
    <div class="form-group mt-2">
        <input type="tel" name="logphonenumber" class="form-style" placeholder="Your Phone" id="logphonenumber" autocomplete="off">
        <i class="input-icon uil uil-lock-alt"></i>
    </div>
    <div class="form-group mt-2">
        <input type="text" name="logreferralcode" class="form-style" placeholder="Your referral_code" id="logreferralcode" autocomplete="off">
        <i class="input-icon uil uil-lock-alt"></i>
    </div>
    
    <a href="#" class="btn mt-4">submit</a>
  </div>