/* Footer */
.footerContent {
  padding-top: 48px;
}

.footerList {
  margin-right: 175px;
}

.footer li {
  list-style: none;
  display: flex;
  justify-content: right;
  font-family: Nanum Gothic;
  font-size: 12px;
  text-decoration: underline;
  color: #b8b0a2;
}
