/* 승인 대기 테이블 */
.statusTable {
  margin-top: 10px;
}

.statusView {
  font-family: Nanum Gothic;
  margin: auto;
  border-top: #a59373 2px solid;
  border-bottom: #a59373 1px solid;
  width: 1070px;
  height: 60px;
}

.statusBlock {
  width: 91px;
}

.catNameBlock {
  width: 500px;
}

.nickBlock{
  width: 140px;
}

.editStatusBlock {
  width: 180px;
}

.editStatusBtn {
  border: 1px solid #a59373;
  border-radius: 10px;
  background-color: white;
  margin-left: 39px;
}

/* 유저 목록 테이블 */
.userTable {
  margin-top: 10px;
}

.memberView{
  font-family: Nanum Gothic;
  margin: auto;
  border-top: #a59373 2px solid;
  border-bottom: #a59373 1px solid;
  width: 1070px;
  height: 60px;
}

.memberBlock {
  width: 60px;
}

.memberInfo1 {
  width: 280px;
}

.memberInfo2 {
  width: 150px;
}

.memberInfo4 {
  width: 150px;
}

.joinDate {
  width: 260px;
}

.btnBlock {
  width: 70px;
}

.deleteMemBtn {
  border: 1px solid #a59373;
  border-radius: 10px;
  background-color: white;
}

