body {
  font-family: Nanum Gothic;
}

.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbarLogo2 {
  display: flex;
  align-items: center;
}

.navbarLogo2 img {
  height: 40px;
}

.navbarMenu2 {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbarMenu2 li {
  margin-left: 1.5rem;
}

.navbarMenu2 a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

.navbarMenu2 a:hover {
  color: #777;
}

.navbarButton2 {
  display: flex;
  align-items: center;
}

.navbarButton2 button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-left: 1rem;
  color: #333;
  font-weight: bold;
}

.navbarButton2 button:hover {
  color: #777;
}

.navbarButton2 img {
  height: 20px;
  width: 20px;
}
