/* Navbar */
.navbarLogo2 {
  margin-top: 40px;
  margin-left: 100px;
}

.navbar2 {
  font-family: Nanum Gothic;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 220px;
}

.navbarMenu2 {
  margin-top: 55px;
  display: flex;
  list-style: none;
  font-size: 18px;
  color: #222222;
  font-family: 'Nanum Gothic', sans-serif;
  margin-right: 250px;
}

.navbarMenu2 li {
  padding: 8px 20px;
}

.navbarButton2 {
  margin-top: 38px;
  margin-right: 115px;
}

.navbarButton2 button {
  font-family: Nanum Gothic;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  color: #222222;
  border: none;
}