body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

.sp_nav {
  background-color: #b8b0a2;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
}

.sp_nav-link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.product-detail {
  padding: 50px 0;
}

.product-image {
  position: relative;
  padding-bottom: 100%; /* 이미지 비율에 따라 변경 가능 */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: 20px;
}

.product-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.product-description {
  font-size: 16px;
  margin-bottom: 15px;
  color: #777;
  line-height: 1.5;
}

.product-details {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.product-category,
.product-location {
  font-size: 16px;
  font-weight: 500;
  color: #777;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.add-to-cart {
  font-size: 16px;
  background-color: #b8b0a2;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background-color: #a89a82;
}
