body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}

#productForm {
  background-color: #fff;
  max-width: 60vw;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sp_nav {
  background-color: #5c6ac4;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px 20px 0 0;
}

.sp_nav-link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.sp_nav-link:hover {
  color: #f0f0f0;
}

textarea,
input,
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
}

textarea {
  resize: vertical;
} */

input[type='file'] {
  margin-bottom: 15px;
}

button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #e3ae5b;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

button[type='submit']:hover {
  background-color: #fd9365;
}

input[name='city'],
input[name='cityDetail'] {
  display: inline-block;
  width: calc(50% - 10px);
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

input[name='cityDetail'] {
  margin-left: 10px;
}
